.about-us{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-us h1{
  color: #262626;
  font-weight: 500;
  margin: 20px 0px;
}
.about-us-text{
  font-size: 1.3rem;
  color: #808080; 
  margin-bottom: 30px;
}
.about-us hr{
  margin: 10px, 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}
@media (max-width: 1050px) {
  .about-us h1 {
    font-size: 2rem;
  }
  .about-us-text {
    font-size: 1.1rem;
  }
}
@media (max-width: 750px) {
  .about-us {
    padding: 10px;
  }
  .about-us h1 {
    font-size: 1.8rem;
  }
  .about-us-text {
    font-size: 1rem;
    text-align: left;
  }
}