.business-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.business-page h1{
    color: #262626;
    font-weight: 500;
    margin-top: 30px;
  }
  .business-page hr{
    margin: 10px, 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
  }
.business-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0px;
    justify-content: center;
}
.business-item {
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}
.business-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.business-item p {
    padding: 10px;
    background-color: #f8f8f8;
}
.business-item:hover {
    transform: scale(1.05);
}