.business-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.business-page h1{
    color: #262626;
    font-weight: 500;
    margin-top: 30px;
}
.business-page hr{
    margin: 10px, 0px;
    height: 2px;
    background-color: #c0c0c0;
    border: none;
}
.business-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 50px 0px;
    justify-content: center;
}
.business-item {
    cursor: pointer;
    height: 420px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}
.business-item img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.business-item h2 {
    font-size: 1.5rem;
    padding: 10px;
    background-color: #f8f8f8;
}
.business-item p {
    font-size: 1.1rem;
    padding: 10px;
    color:rgb(147, 147, 147);
    background-color: #f8f8f8;
}
.business-item:hover {
    transform: scale(1.03);
}