.account-page {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
  .account-page h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
  .account-page p {
    font-size: 1.2em;
    color: #555;
}